.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  color: #5f554c;
  font-size: 62.5%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAMAAABHPGVmAAAAqFBMVEX/pIJfVUzd7h7d7h7d7h7d7h5fVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUxfVUzfUZrrAAAAc0lEQVRoge3NxRHCAAAAsL7QQpEa7kWK6/6bMQNP7pIFElSqtXqjGbbaUafb68dJmuWD4Wg8mc7mi+VqvSm2u/2hPJ7Ol+vt/ni+3p/gdxKJRCKRSCQSiUQikUgkEolEIpFIJBKJRCKRSCQSiUQikfx/8gVQmlPTDPaIvAAAAABJRU5ErkJggg==');
}

.container span,
.container a,
.container p,
.modal-body p,
.modal-body li,
.container label,
.container div,
label {
  font-size: 1.5rem
}

.container span.btn-sm {
  font-size: 12px;
}

/* Custom page header */
.header, .navbar {
  margin-bottom: 0 !important;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5f554c;
  font-family: goodbye;
}

hr {
  border-bottom: 1px solid #5f554c;
  border-top: 1px solid #5f554c;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
  font-family: goodbye;
  src: url('../fonts/goodbylullaby.ttf');
}

.btn-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1100px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing{
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.user-review .review-text {
  clear: both;
  margin-top: 10px;
}


/*Chocolates Grid*/

.grid-style {
  height: 60vh
}

.grid-style .ui-grid-header-cell-row .ui-grid-header-cell:nth-last-child(2),
.grid-style .ui-grid-header-cell-row .ui-grid-header-cell:last-child
{
  border-right: 0;
}

.star-container {
  display:inline-block;
}

.star {
  height: 38px;
  width: 21px;
  display: inline-block;
  background: url('../images/star-sprite.png') no-repeat;
}

.rating span:nth-child(odd) .choco-star {
  background-position: 0 -76px;
}

.rating span:nth-child(even) .choco-star {
  background-position: 0 -38px;
}

.rating span:nth-child(odd) .choco-star-empty {
  background-position: 0 -117px;
}

.rating span:nth-child(even) .choco-star-empty {
  background-position: 0 0;
}

.rating-small .star {
  height: 16px;
  width: 9px;
  background-size: cover;
}

.rating.rating-small span:nth-child(odd) .choco-star {
  background-position: 0 -32px;
}

.rating.rating-small span:nth-child(even) .choco-star {
  background-position: 0 -16px;
}

.rating.rating-small span:nth-child(odd) .choco-star-empty {
  background-position: 0 -50px;
}

.rating.rating-small span:nth-child(even) .choco-star-empty {
  background-position: 0 0;
}

.rating.rating-small span i {
  cursor: default;
}

.popover {
  max-width: 600px;
  min-width: 250px;
}


.angucomplete-dropdown {
  overflow-y: auto;
  max-height: 300px;
  width: inherit;
  max-width: 600px;
}

.heading-2 {
  margin-top: 0;
}

.heading-3 {
  margin-bottom: 20px;
}

a {
  color: #5f554c;
  text-decoration: underline;
}

label {
  text-transform: capitalize;
}

legend {
  border-bottom: 0px solid transparent;
}

a:hover {
  color: #000;
}

a.user-link {
  font-size: 2rem;
  margin-right: 5px;
}

.nav > li {
  font-size: 1.5rem
}

.review-text {
  font-size: 1.2rem;
  line-height: 2rem
}

.rating-label {
  margin-top: 3px;
  font-size: 1rem
}

.rating-group > div {
  margin-bottom: 10px;
}

.rating-group > div:last-child {
  margin-bottom: 0
}

.user-profile-info {
  text-align: center;
}

.profile-thumbnail-large {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto 10px auto ;
}

@media (max-width: 992px) {
  .profile-thumbnail-large {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
}
.reviews-header {
  margin-top: 0;
}

.profile-thumbnail-small {
  margin: -10px 0 -12px 10px;
  height: 40px;
  width: 40px;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
}

button:focus,
a:focus,
div:focus,
input:focus,
select:focus,
.form-control:focus,
span:focus, i:focus {
  outline: 0;
  -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075);
  box-shadow: inset 0 0 0 rgba(0,0,0,.075);
}

.form-control:focus {
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,
  -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,
  box-shadow ease-in-out .15s;
}

.btn.active,
.btn:active,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.navbar {
  border-radius: 0;
  min-height: 70px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #e3ddd4;
}

.navbar-default .navbar-toggle.collapsed:focus,
.navbar-default .navbar-toggle.collapsed {
  background-color: transparent;
}

.navbar-default {
  background-color: #5f554c;
  border: 0;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.7);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.7);
}

.navbar-default .navbar-brand {
  color: #f6efde;
  text-decoration: none;
  font-family: goodbye, sans-serif;
  font-size: 4rem;
  padding: 25px 15px;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #FFA482;
}

.navbar-default .navbar-brand:hover {
  color: #FFA482;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #FFA482;
}

.navbar-default .navbar-nav > li > a {
  color: #f6efde;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 25px 15px;
  font-family: goodbye;
}


.navbar-default .navbar-nav > li > a span {
  font-size: 2.5rem;
}

.navbar-default .navbar-nav > li > a.profile-link {
  padding-right: 0;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #FFA482;
}

.footer {
  background-color: transparent;
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.footer span,
.footer span a{
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-top: 15px;
  color: #e3ddd4;
}

.container.main {
  background-color: #e3ddd4;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 1);
}

.gradient-bg {
  height: 300px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.gradient-bg-bottom {
  height: 300px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

.gradient {
  filter: none;
}

.user-review{
  margin-bottom: 20px;
}

.rating {
  margin-bottom: 10px;
}

.review-button {
  margin-top: 15px;
}

.angucomplete-selected-row {
  background-color: #5f554c;
}

.angucomplete-selected-row.ng-click-active {
  background-color: transparent;
  outline: 2px solid #5f554c;
  color: #5f554c;
}

/* Buttons */

.btn {
  margin-right: 5px;
}

.btn-primary {
  background-color: #5f554c;
  border: 2px solid #463f39;
}

.btn-warning {
  background-color: #b14143;
  border: 2px solid #a03c3e;
}

.badge.warning {
  background-color: #b14143;
}

.btn-warning:hover {
  outline: 2px double #b14143;
  outline-offset: 2px;
  background-color: #b14143;
  border-color: #b14143;
}

.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover,
.open>.dropdown-toggle.btn-warning.focus,
.open>.dropdown-toggle.btn-warning:focus,
.open>.dropdown-toggle.btn-warning:hover {
  outline: 2px double #a03c3e;
  outline-offset: 2px;
  background-color: #a03c3e;
  border-color: #a03c3e;
}

.btn-warning.focus, .btn-warning:focus {
  background-color: #b14143;
  border-color: #b14143;
}

.btn, .btn-group-lg>.btn, .btn-lg {
  border-radius: 0;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
  background-color: #463f39;
  outline: 2px double #463f39;
  outline-offset: 2px;
}

.btn-primary:hover {
  outline: 2px double #5f554c;
  outline-offset: 2px;
  background-color: #5f554c;
}

.btn-primary.focus,
.btn-primary:focus {
  background-color: #5f554c
}

.btn-default {
  border: 2px solid #5f554c;
}

.btn-default:hover {
  background-color: #fff;
  outline: 2px double #5f554c;
  outline-offset: 2px;
  border: 2px solid transparent;
}

.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
  background-color: #5f554c;
  outline: 2px double #5f554c;
  outline-offset: 2px;
  border: 2px solid transparent;
  color: #fff;
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled]
.btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: transparent;
  border: 2px solid #5f554c;
  color: #5f554c;
  outline: 0 ;
}

input.ng-invalid.ng-touched {
  -webkit-box-shadow:inset 0 0 3px 1px #FF0000;
  box-shadow:inset 0 0 3px 1px #FF0000;
  border: #FF0000;
}

.progress-bar {
  background-color: #5f554c;
}

.flag-counter {
  margin-bottom: 10px;
}

.errors-list {
  padding: 0;
  margin: 0;
  color: #ff0000;
  list-style: none;
  font-weight: bold;
}

.modal-body .errors-list {
  margin-left: 15px;
}

.modal-body form {
  margin-left: 0;
  margin-right: 0;
}

.nav-tabs {
  border-bottom: 2px solid #5f554c;
}

.nav-tabs>li>a {
  border: 2px solid transparent;
  color: #5f554c;
  text-decoration: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #fff;
  background-color: #5f554c;
  border: 2px solid #5f554c;
  border-bottom-color: transparent;
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
  background-color: transparent;
  border: 2px solid #5f554c;
  border-bottom: 0;
}

.ngViewport {
  overflow-x: hidden;
}

@media (max-width: 768px) {

  .btn-responsive {
    padding: 5px 10px;
    font-size:80%;
    line-height: 1;
  }

  .navbar {
    min-height: 50px;
  }

  .nav-tabs {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .nav-tabs li {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    text-align: center
  }


  .navbar-default .navbar-brand {
    padding: 15px 15px;
    font-size: 3rem;
  }
}

.flag-counter {
  width: 50px;
}

.flag-counter.hovered {
  animation: buttonIn 0.3s ease-in;
}

.flag-counter:hover {
  width: 150px;
  animation: buttonOut 0.1s ease-out;
}

.flag-counter .flag-counter-text {
  display: inline-block;
}

.flag-counter .flag-clear-text {
  visibility:hidden;
  opacity:0;
}

.flag-counter.hovered .flag-clear-text {
  animation: buttonTextIn 0.3s linear;
}

.flag-counter:hover .flag-counter-text {
  display: none;
}

.flag-counter:hover .flag-clear-text {
  margin-right: 0;
  visibility:visible;
  opacity:1;
  animation: buttonTextOut 0.3s linear;
}

@media screen and (max-width: 768px) {

  .user-review .user-link,
  .user-review .chocolate-link,
  .user-review .flag-counter {
    float: left;
    clear: both;
  }

  .user-review .flag-counter {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
  }

  .user-review .rating {
    clear: left;
  }

  .user-review .rating,
  .user-review .time-ago,
  .user-review .delete-review-button,
  .user-review .report-review-button,
  .user-review .flag-counter,
  .user-review .chocolate-link {
    float: left;
  }

  .report-review-button {
    margin-left: 10px;
  }

  .user-review .rating {
    margin-bottom: 0;
  }

  .user-review .time-ago {
    margin-left: 5px;
  }
}

.user-review .time-ago, .scan-barcode {
  margin: 0 5px;
}

@keyframes buttonOut {
  from {
    width: 50px;
  }
  to{
    width: 150px;
  }
}

@keyframes buttonIn {
  0% {
    width: 150px;
  }
  33% {
    width: 150px;
  }
  100% {
    width: 50px;
  }
}

@keyframes buttonTextOut {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  33% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes buttonTextIn {
  0% {
    opacity: 1;
    visibility: visible;
  }
  33% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.main-chocolate-list {
  margin-top: 15px;
  overflow-y: scroll;
}

.main-chocolate-list::-webkit-scrollbar {
  width: 20px;
}

.main-chocolate-list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(95,85,76); /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVmNTU0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjM3MzMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, rgba(95,85,76,1) 0%, rgba(63,55,51,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(95,85,76,1)), color-stop(100%,rgba(63,55,51,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(95,85,76,1) 0%,rgba(63,55,51,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(95,85,76,1) 0%,rgba(63,55,51,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(95,85,76,1) 0%,rgba(63,55,51,1) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(95,85,76,1) 0%,rgba(63,55,51,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f554c', endColorstr='#3f3733',GradientType=1 ); /* IE6-8 */
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  min-height: 50px;
  cursor: pointer;
}

.main-chocolate-list-body {
  display: table;
  width: 100%;
  position: relative;
  table-layout: fixed;
}

.main-chocolate-list-row {
  display: table-row;
}

.main-chocolate-list-row div:last-child {
  width: 150px;
  text-align: center;
}

.main-chocolate-list-row .main-chocolate-list-header-cell,
.main-chocolate-list-row .main-chocolate-list-cell {
  display: table-cell;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-chocolate-list-row .main-chocolate-list-header-cell {
  font-size: 2.2rem;
  font-family: goodbye, sans-serif;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

.main-chocolate-list-row .main-chocolate-list-cell {
  font-size: 2rem;
  border-bottom: 1px solid;
  padding: 10px 0;
}

.main-chocolate-list-row .main-chocolate-list-cell a {
  font-size: 2rem;
}

label.table-label {
  font-size: 2rem;
}

.pagination>li>a,
.pagination>li>span {
  border: 2px solid #fff;
  border-left: 2px solid #ddd;
}

.name-edit {
  margin-top: 10px;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
  background-color: transparent;
  border: 2px solid #5f554c;
  color: #5f554c;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #5f554c;
  border-color: #463f39;
}

.pagination>li>a, .pagination>li>span {
  color: #5f554c;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  background-color: #fff;
  color: #5f554c;
  border: 2px solid #5f554c;
}

@media (max-width: 992px) {

  .main-chocolate-list-container {
    padding-top: 20px;
  }

  .main-chocolate-list {
    min-height: inherit;
  }

  .main-chocolate-list-row .main-chocolate-list-cell {
    display: block;
    width: inherit;
  }

  .main-chocolate-list-body .main-chocolate-list-row:first-child {
    margin-top: -40px;
    width: 720px;
    position: fixed;
    display: table;
  }

  .main-chocolate-list-body .main-chocolate-list-row:first-child > div {
    width: 33%;
    text-align: center;
  }

  .main-chocolate-list-row .main-chocolate-list-cell {
    font-size: 2rem;
    border-bottom: 0;
    padding: 0
  }

  .main-chocolate-list-row div:last-child {
    text-align: left;
    width: inherit;
    border-bottom: 1px solid;
  }

  .main-chocolate-list-body .main-chocolate-list-row:first-child div:last-child {
    border-bottom: 0;
  }
}

@media (max-width: 728px) {
  .main-chocolate-list-body .main-chocolate-list-row:first-child {
    margin-top: -40px;
    position: fixed;
    width: 100%;
    display: table;
  }

  .main-chocolate-list-body .main-chocolate-list-row:first-child > div {
    width: 33%;
    text-align: center;
  }
}

.ui-grid-filter-container {
  padding-left: 5px;
  padding-right: 5px;
}

.ui-grid-filter-select {
  border-radius: 3px;
  border: 1px solid #5f554c;
  font-weight: bold;
  width: 100%;
}

.center-cell {
  text-align: center;
}

.bar-image-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bar-image {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  min-height: 200px;
  border: 2px solid #5f554c;
  background-color: #fff;
}

.buy-bar-link {
  margin-bottom: 15px;
}

.container .buy-bar-link a {
  font-size: 1.8rem
}


@media (max-width: 992px) {
  .bar-image {
    margin-bottom: 15px;
  }
}

.load-hide {
  display: none;
}

#interactive.viewport {
  width: 320px;
  height: 240px;
  display: none;
}

/* line 6, ../sass/_viewport.scss */
#interactive.viewport canvas, video {
  float: left;
  width: 320px;
  height: 240px;
}
/* line 10, ../sass/_viewport.scss */
#interactive.viewport canvas.drawingBuffer, video.drawingBuffer {
  margin-left: -320px;
}

.btn-link {
  color: #5f554c;
}

.btn-link:hover, .btn-link:active {
  color: #5f554c;
}

.email-opt {
  display: table-row;
}

.email-opt .check-cell, .email-opt .label-cell {
  display: table-cell;
}

.email-opt .label-cell {
  padding-left: 10px;
}

.list-no-style {
  padding: 0;
  list-style: none;
}

.auto-complete-star {
  height: 18px;
  width: 100px;
  display: block;
  background: url('../images/star_sprite_all.png') no-repeat;
}

.auto-complete-star.star-0 {
  background-position: 0 0;
}

.auto-complete-star.star-5 {
  background-position: 0 -20px;
}

.auto-complete-star.star-10 {
  background-position: 0 -40px;
}

.auto-complete-star.star-15 {
  background-position: 0 -60px;
}

.auto-complete-star.star-20 {
  background-position: 0 -79px;
}

.auto-complete-star.star-25 {
  background-position: 0 -99px;
}

.auto-complete-star.star-30 {
  background-position: 0 -118px;
}

.auto-complete-star.star-35 {
  background-position: 0 -138px;
}

.auto-complete-star.star-40 {
  background-position: 0 -158px;
}

.auto-complete-star.star-45 {
  background-position: 0 -177px;
}

.auto-complete-star.star-50 {
  background-position: 0 -196px;
}
