<h3>Chocolates</h3>
<div angucomplete-alt id="ex1"
     placeholder="Search bars"
     pause="100"
     selected-object="selectedChocolate"
     local-data="bars"
     search-fields="name,maker"
     description-field="maker"
     title-field="name"
     minlength="1"
     input-class="form-control"></div>
<button class="btn btn-sma" data-ng-click="addChocolate()">Add Bar</button>
<div class="grid-style" data-ng-grid="gridOptions"></div>

<script type="text/ng-template" id="chocolatesModal.html">
  <div class="modal-header">
    <h3 class="modal-title">{{action}} Bar</h3>
  </div>
  <div class="modal-body">
    <form role="form" class="row">
      <div class="form-group">
        <label class="control-label col-md-12" for="maker">
          <input type="text" class="form-control" id="maker" placeholder="Maker" data-ng-model="bar.maker">
        </label>
      </div>
      <div class="form-group">
        <label class="control-label col-md-12" for="name">
          <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="bar.name">
        </label>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4" for="rating">
          <input type="number" min="0" max="5" step="0.5" class="form-control" id="rating" placeholder="Rating" data-ng-model="bar.rating">
        </label>
      </div>
      <div class="form-group">
        <label class="control-label col-md-12" for="review">
          <textarea class="form-control" id="review" placeholder="Review" data-ng-model="bar.review"></textarea>
        </label>
      </div>
      <div class="form-group">
        <label class="control-label col-md-12">
          <ui-select multiple ng-model="selectedTags" theme="bootstrap" ng-disabled="disabled">
            <ui-select-match placeholder="Select tags...">{{$item.tagName}}</ui-select-match>
            <ui-select-choices group-by="'category'" repeat="tag in tags | filter:$select.search">
              {{tag.tagName}}
            </ui-select-choices>
          </ui-select>
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{action}} Bar</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
