<div class="row">
  <div class="col-md-12">
    <h3>Chocolates</h3>
    <div angucomplete-alt id="ex1"
         placeholder="Search bars"
         pause="100"
         selected-object="selectedChocolate"
         local-data="chocolates"
         search-fields="name,maker"
         description-field="maker"
         title-field="name"
         minlength="1"
         input-class="form-control"></div>
  </div>
</div>
<div class="row btn-row">
  <div class="col-md-12">
    <button class="btn btn-primary" data-ng-click="addChocolate()">Add Bar</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="grid-style" data-ng-grid="gridOptions"></div>
  </div>
</div>
<script type="text/ng-template" id="chocolatesModal.html">
  <div class="modal-header">
    <h3 class="modal-title">{{action}} Bar</h3>
  </div>
  <div class="modal-body">
    <form role="form" class="row">
      <div class="form-group">
        <label class="control-label col-md-12" for="maker">
          <input type="text" class="form-control" id="maker" placeholder="Maker" data-ng-model="bar.maker">
        </label>
      </div>
      <div class="form-group">
        <label class="control-label col-md-12" for="name">
          <input type="text" class="form-control" id="name" placeholder="Name" data-ng-model="bar.name">
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>
