<div class="row">
  <div class="col-md-12">
    <h2>
      Hello Fellow Chocolate Lovers,
    </h2>
    <p>
      This web site is a collection of chocolate reviews by myself and others in the community. My goal is help people explore the wide-world of chocolate, discover their own tastes and preferences, and share their experiences with others.
    </p>
    <p>
      The reviews are primarily for chocolate bars, rather than chocolates or bonbons. The reason is that chocolates and bonbons are typically limited to a small region of the world, and the flavors and textures of each batch is strongly dependent on the skills of the chocolatier each time. Chocolate bars are more readily available everywhere, and also have more-consistent flavors and textures. Reviews of bars are more useful to everyone.
    </p>
    <p>
      I hope you enjoy looking through these reviews. I hope they pique your interest in trying a new bar, or maybe you find someone who's taste-preferences you appreciate, and you start a friendship.
    </p>
    <p>
      -Scott
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>The Rating Scale</h2>
    <ul class="list-no-style">
      <li>1 = "Awful. A horrible thing to do to a cocoa bean."</li>
      <li>3 = "Worth buying again."</li>
      <li>5 = "Ambrosia of the Gods."</li>
    </ul>
  </div>
</div>
