<div class="container" data-ng-model="AdministrationCtrl">
  <tabset>
    <tab heading="Users">
      <div class="row">
        <div class="col-md-12">
          <div data-ng-include="'/views/partials/adminUsers.html'"></div>
        </div>
      </div>
    </tab>
    <tab heading="Chocolates">
      <div class="row">
        <div class="col-md-12">
          <div data-ng-include="'/views/partials/adminChocolates.html'"></div>
        </div>
      </div>
    </tab>
    <tab heading="Tags">
      <div class="row">
        <div class="col-md-12">
          <div data-ng-include="'/views/partials/adminTags.html'"></div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
