<div class="row" ng-hide-auth id="loginMessage">
  <div class="col-md-12">
    <strong>Sign-in to leave reviews of your own! Sign-up to receive notification of new chocolate reviews.</strong>
    <br/><br/>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div angucomplete-alt id="ex1"
         placeholder="Search bars"
         pause="100"
         selected-object="selectedChocolate"
         local-data="chocolates"
         search-fields="name,maker"
         description-field="maker"
         title-field="name"
         minlength="2"
         input-class="form-control"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <pagination previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" data-ng-change="pageChanged()" total-items="chocolates.length" data-ng-model="currentPage" items-per-page="maxItems" max-size="maxSize" class="pagination-sm" boundary-links="true"></pagination>
    <button style="margin-top: 17px" class="pull-right btn btn-primary" data-ui-sref="addChocolate"><i class="fa fa-plus"></i><span class="hidden-xs"> Add A Chocolate</span></button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <span us-spinner spinner-key="spinner-1"></span>
    <div class="main-chocolate-list-container">
      <div class="main-chocolate-list" main-chocolate-list>
        <div class="main-chocolate-list-body">
          <div class="main-chocolate-list-row">
            <div class="main-chocolate-list-header-cell" data-ng-click="order('maker')">
              Maker
              <span class="sortorder" ng-show="predicate === 'maker'" ng-class="{reverse:reverse}"></span>
            </div>
            <div class="main-chocolate-list-header-cell"  data-ng-click="order('name')">
              Name
              <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
            </div>
            <div class="main-chocolate-list-header-cell"  data-ng-click="order('rating')">
              Rating
              <span class="sortorder" ng-show="predicate === 'rating'" ng-class="{reverse:reverse}"></span>
            </div>
          </div>
          <div class="main-chocolate-list-row" data-ng-repeat="chocolate in chocoArray | orderBy:predicate:reverse | filter:{active:'true'}" on-finish-render>
            <div class="main-chocolate-list-cell">
              <label class="table-label visible-sm-inline-block visible-xs-inline-block">Maker:</label> {{chocolate.maker}}
            </div>
            <div class="main-chocolate-list-cell">
              <label class="table-label visible-sm-inline-block visible-xs-inline-block">Name:</label> <a href="#/listing/{{chocolate.$id}}">{{chocolate.name}}</a>
            </div>
            <div class="main-chocolate-list-cell">
              <label class="table-label visible-sm-inline-block visible-xs-inline-block">Rating:</label> {{chocolate.rating}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
