<div class="row">
  <div class="col-md-12">
    <h2>Pairings</h2>
    <h3>Tea and Chocolate Pairings</h3>
    <ul class="list-no-style">
      <li><a target="_blank" href="http://www.teacourse.com/members/teacourse/adminpages/tcTeaChocolate">A long philosophy piece</a></li>
      <li><a target="_blank" href="http://www.tching.com/2009/11/pairing-tea-and-chocolate-two-great-tastes-that-go-great-together/">A short philosophy piece</a></li>
      <li><a target="_blank" href="http://www.sheknows.com/food-and-recipes/articles/1025249/chocolate-pairing-what-flavors-work-best-with-different-kinds-of-chocolate">A longer article with specific recommendaions</a></li>
    </ul>

    <h3>Coffee and Chocolate Pairings</h3>
    <ul class="list-no-style">
      <li><a target="_blank" href="http://equalexchange.coop/blog/art-and-science-chocolate-coffee-pairing">A long philosophy piece</a></li>
      <li><a target="_blank" href="http://blog.americanclubresort.com/2014/12/22/the-art-of-pairing-chocolate-coffee-and-craft-brews/">A long and specific piece</a></li>
      <li><a target="_blank" href="https://www.coffee-mate.com/Coffee-Break/Articles/Host-a-Coffee-and-Chocolate-Pairing-Party.aspx">A short philosophy piece</a></li>
    </ul>

    <h3>Wine and Chocolate Pairing</h3>
    <ul class="list-no-style">
      <li><a target="_blank" href="http://www.foodandwine.com/articles/march-2008-pairing-chocolate-and-wine">A short philosophy piece</a></li>
      <li><a target="_blank" href="http://www.wsj.com/articles/the-best-wines-to-pair-with-chocolate-1427384080">A short piece, specific on wines but not chocolate</a></li>
      <li><a target="_blank" href="http://winefolly.com/tutorial/5-badass-wine-and-chocolate-pairings/">A long and specific article</a></li>
    </ul>

    <h3>Cigars and Chocolate Pairings</h3>
    <p>I looked, but I couldn't find any informative writing on this pairing. If you know of one, please e-mail is to us [below].</p>

    <h3>Pipe (tobacco) and Chocolate Pairings</h3>
    <p>
      I looked, but I couldn't find any informative writing on this pairing. If you know of one, please e-mail is to us [below].
    </p>

    <p>What other chocolate pairings have you found? Let us know, and share!</p>
  </div>
</div>
